
/* ---------------- LOADING -------------- */
#loading {
    background-color: #00b0ff;
    height: 100%;
    width: 100%;
    background-size: 10%;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden !important;
    right: 0px;
    z-index: 999999;
}
#preview-area {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    bottom: 60px;
    position: absolute;
    right: 0;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.sk-chase {
  width: 100px;
  height: 100px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  } 100%, 0% {
    transform: scale(1.0);
  }
}
/* -------------- */

#sidebar_main .menu_section>ul>li>ul>.current_section>a .menu_title {
    color: #7cb342;
}
.md-card .md-card-toolbar-heading-text{
    padding-top : 5px;
}
.k-textbox ,.droplist,.k-dropdown-wrap .k-input,.k-dropdown .k-state-default,.k-multiselect.k-header,.k-input{
    border-color: darkgrey;
}
.k-grid-header .k-header{
    color :#444;
}
.k-grid-header th.k-header{
   font-weight: 800;
}
.k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup{
   font-weight: 800;
}

.k-grid-header .k-header, .k-grid-header .k-header .k-link, .k-grid-header .k-link, .k-grid-header .k-link:link, .k-pager-info, .k-scheduler-agendaview .k-scheduler-datecolumn, .k-scheduler-header{
  color : black;
}
.k-pager-wrap{
  border-bottom: 1px solid #e6e6e6;
}

.k-pager-wrap>.k-link {
    border-style: none!important;
}

.k-grid .k-grouping-header {
    color: rgba(255,255,255,.5);
    background-color: #3f51b5;
}

.k-grouping-header{
    padding : 8px;
}
 #tabstrip{
   padding : 1px;
 }
 .k-window .k-disabled, .k-window .k-state-disabled{
   border: none!important;
 }
 .k-disabled, .k-state-disabled{
   border-color: #3f51b5!important;
 }
 .k-state-active{
  border-bottom-color: #00b0ff!important;
 }
 .k-icon-22 {
        font-size: 22px; /* Sets icon size to 32px */
    }

 .k-icon-32 {
        font-size: 32px; /* Sets icon size to 32px */
    }

    .k-icon-48 {
        font-size: 48px; /* Sets icon size to 48px */
    }

    .k-icon-64 {
        font-size: 64px; /* Sets icon size to 64px */
    }

    .k-radio:checked+.k-radio-label:after{
      top : 4px!important;
      left : 4px!important;
    }

 /* Page Template for the exported PDF */
       .page-template {
         font-family: "DejaVu Sans", "Arial", sans-serif;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
       }
       .page-template .header {
         position: absolute;
         top: 30px;
         left: 30px;
         right: 30px;
         border-bottom: 1px solid #888;
         color: #888;
       }
       .page-template .footer {
         position: absolute;
         bottom: 30px;
         left: 30px;
         right: 30px;
         border-top: 1px solid #888;
         text-align: center;
         color: #888;
       }
       .page-template .watermark {
         font-weight: bold;
         font-size: 400%;
         text-align: center;
         margin-top: 30%;
         color: #aaaaaa;
         opacity: 0.1;
         transform: rotate(-35deg) scale(1.7, 1.5);
       }
/* End */
.hidden{
  display: none;
}
.uk-switcher {
    width: 100%;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.page-item {
  display: inline;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #0275d8;
  border-color: #0275d8;
}

.page-item.disabled .page-link, .page-item.disabled .page-link:focus, .page-item.disabled .page-link:hover {
  color: #818a91;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.page-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  color: #0275d8;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-link:focus, .page-link:hover {
  color: #014c8c;
  background-color: #eceeef;
  border-color: #ddd;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}

.pagination-lg .page-item:first-child .page-link {
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.275rem 0.75rem;
  font-size: 0.875rem;
}

.pagination-sm .page-item:first-child .page-link {
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.typing{
  font-size: 10px;
  margin-bottom: -5px;
  margin-left: 5px;
  font-style: italic;
}
.number-price .k-select{
  width: 0.9em!important;
}
.img-thumbnail{
  max-width:150px;
  max-height:150px;
}
.max-width-80{
  max-width:80px;
}
.max-width-100{
  max-width:100px;
}
.max-width-120{
  max-width:120px;
}
.max-width-140{
  max-width:100px;
}
