table tr th{
font-weight: bold!important;
}
.group{
font-weight: bold!important;
}
#uniform-user{
margin-left: 5%;
margin-top : 8px;
float:left
}
#uniform-group{
  margin-left: 20%;
  margin-top : 8px;
  float:left
}
#uniform-inventory{
  margin-top : 8px;
}
